*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.element{
    width: 1000px;
    height: 480px;
    background-color: rgb(35, 118, 145);
    margin:120px auto 0px;

    border: 5px solid white;
    border-radius:150px 0px 0px 150px;
}