*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.reel-container{
    width: 390px;
    height: 600px;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
}
video{
    width: 100%;
    height: 134%;
    position: absolute;
    
    object-fit: cover;
    object-position:60% -100px ;
}
